/* this is on the index page */
h3, p{
  text-align: center;
  padding: 20px;
  background-color: lightgrey;
  color: black;
  margin-bottom: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.right {
  text-align: right;
}

body {
  background-color: white;
}

.orangetext {
  color: orange;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  align-content: center;
  text-align: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* table */

.pill {
  color: lightblue;
  padding: 8px 8px;
  text-decoration: none;
}


/* contact */

.contact ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.contact li{
 line-height: 50px;
 height: 50px;
}

li a {
 color: #000;
 padding: 8px 16px;
 text-decoration: none;
}

li a.active {
 background-color: lightblue;
 color: white;
}

li a:hover:not(.active) {
 background-color: #555;
 color: white;
}

/* nav bar */
 .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li{
  line-height: 50px;
  height: 50px;
  display: inline;
}

li a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: lightblue;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* nav bar for over 600 pixels will be horizontal: media query */
@media screen (min-width: 600px){
.nav li   {
  width: 120px;
  border-bottom: 10px;
  height: 40px;
  line-height: 40px;
  }
}

@media query screen (min-width: 600px){
  .row .column {
    width: 100px;
    border-bottom: 10px;
  }
}

/* this is on the curious page */
#quiz div.relative {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(var(--hue));
}


/* this is from unmotivated */
#mot h2:hover {
  background-color: yellow;
}

.seatButton {
  text-align: center;
}

/* this is on the bored.html page */
.circle {
    border-radius: 100%;
    display:inline;
    line-height:100px;
}

.circles {
  display: flex;
  align-items: justify;
  justify-content: center;
} /* this doesnt work and i dont know why :( */

/* this is on uncreative.html */
.row {
  column-count: 2;
  column-gap: 40px;
}

.row:after {
  content: "";
  clear: both;
}

.column {
  float: left;
  width: 50%
  padding: 10px;
}

/* this is on bored.html */
#div_top_hypers {
    background-color:#eeeeee;
    display:inline;
}
#ul_top_hypers li{
    display: inline;
}

.img-circle {
  background-size: cover;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}


/* i need to classify all this stuff */
:root {
  --hue-neutral: rgb(212, 212, 212);
  --hue-wrong: rgb(180, 1, 19);
  --hue-correct: rgb(120, 189, 54);
}

#motivation_acquired div{
  justify-content: center;
}

#welcome_motiv h2 {
  justify-content: center;
  display: flex;
  align-items: center;
}

div.absolute {
  position: absolute;
  top: 200px;
  right: 200px;
  height: 200px;
  width: 100px;
}

#loading-container {
    padding:16px 0px 16px 0px;
    text-align:center;
}

#paragraph div {
  padding: 50px
  border: 20px solid white;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin-right: 45px;
  margin-left: 45px;
  margin-top: auto;
  margin-bottom: 40px;
}

#twitter-feed, #hozier {
    width:500px;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:60px;
    padding:8px 10px 5px 10px;
    border-radius:12px;
    background-color:#FFF;
    color:#333;
    overflow:auto;
}

#music, #river, #photo {
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius:20px;
}

h4, #J {
  text-align: center;
}

#c, #cc, #ul_top_hypers {
  justify-content: center;
  align-items: center;
  spacing: 25px;
}

#emotion_table table {
  border-spacing: 20px;
  border-collapse: collapse;
}
